<html>

<title>Gerarchia_Scope</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<body ng-app="myApp">

    <h1>Gerarchia_Scope</h1>

    <div ng-controller="userController">
            <p>Nome: <input type="text" ng-model="utente.nome"></p>
            <p>Cognome: <input type="text" ng-model="utente.cognome"></p>
            <p ng-controller="greetingController">{{saluta()}}</p>
         </div>

         <script type="text/javascript"> 
            angular.module("myApp", []) 
                .controller("userController",   
                    function($scope) { 
                        $scope.utente = {nome: "Mario", cognome: "Rossi"}; 
                    }) 
                .controller("greetingController",   
                    function($scope) { 
                        $scope.saluta = function() { 
                            return "Buongiorno " + $scope.utente.nome + " " + $scope.utente.cognome + "!" 
                        };   
                    }); 
            </script> 
            
            <!--
Notiamo che il controller userController si limita a definire il modello dei dati, 
mentre il controller greetingController definisce il metodo saluta(). 
Quest’ultimo metodo però accede al nome e cognome dell’utente come se il modello dei dati 
fosse stato definito nello scope corrente. Questa possibilità è derivata proprio dal fatto 
che lo scope del controller greetingController eredita il modello 
dei dati definito dal controller padre userController.

Questa caratteristica risulta molto comoda in diversi contesti, 
ma introduce una dipendenza tra gli scope dei vari controller che occorre tener presente 
in caso di refactoring dell’interfaccia utente.

            -->
        </body>
        
      
        
