<html>
<title>Tabella Anagrafica</title>
<!--In Generale Angular è un Framework che trasforma HTML in un linguaggio per lo sviluppo di web application -->
<body ng-app="myApp">
<!-- con ng-app indico quale elemento della pagina va preso in considerazione per usarlo come interfaccia API -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- questo è l' URL del file download di Angular -->	
	<h1>Tabella Anagrafica</h1>

<script>type="text/javascript"

angular.module("myApp", [])
	.controller("userController",function($scope) 
    { $scope.elencoNomi = ["Andrea", "Marco", "Giovanni", "Roberto"]; 
    $scope.persone = [
	{ nome: "Andrea",   cognome: "Rossi",  citta: "Roma"    },
	{ nome: "Marco",    cognome: "Verdi",  citta: "Milano"  },
	{ nome: "Giovanni", cognome: "Neri",   citta: "Napoli"  },
	{ nome: "Roberto",  cognome: "Gialli", citta: "Palermo" },
    ];
    $scope.persona = { nome: "Mario", cognome: "Rossi", citta: "Roma"};
    
    
    });
 </script>
 	<div ng-controller="userController">
      
         <ul>
             <li ng-repeat="nome in elencoNomi">{{nome}}</li>
         </ul>
         <!--
             ng-repeat permette di prelevare i valori da visualizzare

             L’espressione associata alla direttiva fa riferimento all’elenco da cui 
             prelevare i valori da visualizzare (elencoNomi) e definisce una variabile (nome) 
            che rappresenta l’elemento corrente dell’array.
        -->
         <ol>
                <li ng-repeat="persona in persone">
                    {{persona.nome}} {{persona.cognome}} {{persona.citta}}
                </li>
            </ol>
            <p>ADESSO METTIAMO TUTTO IN TABELLA</p>
            <table>
                    <tr><th>Indice</th><th>Nome</th><th>Cognome</th><th>Città</th></tr>
                    <tr ng-repeat="persona in persone">
                        <td>{{$index+1}}</td><td>{{persona.nome}}</td><td>{{persona.cognome}}</td><td>{{persona.citta}}</td>
                    </tr>
                    </table>
                    <!--$index parte da 0 ho aggiunto +1 -->
                    <ul>
                            <li ng-repeat="(key, value) in persona">
                                Proprieta: {{key}}<br/>
                                Valore: {{value}}
                            </li>
                        </ul>
                        <!--
                            con questo ultimo esempio scorro l'oggetto persona e 
                            appena trovo un attributo gli assegno chiave(proprietà) e valore(value)
                        -->
      

</body>
</html>